.workspace {
  display: flex;
  flex-direction: column;
  background-color: #E7E9EF;
  color: black;
  display: flex;
  width: 1100px;
  height: 700px;
  border-radius: 40px;
  margin-top: 133px;
}

button {
  background-color: #E7E9EF;
  color: black;
  border-radius: 10px;
  border: 1px solid #303030;
}

button:hover {
  background-color: #303030;
  color: #D9D8D8;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.logo {
  display: flex;
  margin-left: 40px;
  margin-top: -35px;
}

.logo p {
  margin-top: -3px;
  padding-left: 10px;
}

.Filters {
  display: flex;
  gap: 30px;
  padding-left: 60px;
}

.Type {
  width: 190px;
  height: 26px;
  border-radius: 10px;
  border: 1px solid #303030;
  background-color: #E7E9EF;
  padding-left: 20px;
}

.Discipline {
  width: 190px;
  height: 26px;
  border-radius: 10px;
  border: 1px solid #303030;
  background-color: #E7E9EF;
  padding-left: 20px;
}

.priority {
  width: 190px;
  height: 26px;
  border-radius: 10px;
  border: 1px solid #303030;
  background-color: #E7E9EF;
  padding-left: 20px;
}

.errors {
  display: flex;
  font-size: 16px;
  padding-top: 191px;
  padding-left: 60px;
}

.errors text {
  background-color: aqua;
  font-size: 16px;
}

.export-button button {
  display: flex;
  justify-content: center;
  margin-top: 13px;
  margin-left: 30px;
  background-color: #E7E9EF;
  color: black;
  border-radius: 10px;
  width: 160px;
  height: 25px;
  border: 1px solid #303030;
}

.export-button button:hover {
  background-color: #303030;
  color: #D9D8D8;
}

.Description {
  border: 1px solid #303030;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

.main-info {
  display: flex;
  padding-left: 60px;
  gap: 170px;
}

.Print {
  margin-left: 60px;
  margin-top: 40px;
  width: 179px;
  height: 34px;
}

.unload {
  margin-left: 5px;
  margin-top: 30px;
  width: 159px;
  height: 34px;
}

.Scan {
  margin-left: 370px;
  width: 280px;
  height: 50px;
}